//MAYA
#heroMaya {
	height: 38rem;
}
#levelsMaya {
	z-index: 15;
	& .camino-linea {
		position: absolute;
		margin-top: 7rem;
		margin-left: 3rem;
		right: 0;
		z-index: 0;
		display: block;
	}
	& .pinkLevel {
		background: #e5006c;
		padding: 2rem 21rem 5rem 21rem;
		& .level1 {
			padding-bottom: 3rem;
		}
		& .level2 {
			padding: 3rem 0;
		}
		& p {
			color: white;
			font-weight: 300;
			padding: 1rem 0;
			font-size: 1.2rem;
		}
		& .map-maya {
			float: right;
			width: 50%;
		}
	}
	& .blueLevel {
		background: #1f67e1;
		& .temple-maya {
			background-image: url("/static/img/maya/templo-maya.png");
			background-size: cover;
			height: 20rem;
			padding: 5rem 19rem;
			& span {
				margin-top: 1rem;
			}
			& h2 {
				color: white;
				font-size: 6.5rem;
				text-align: center;
			}
		}
		& ul {
			background: #e5006c;
			width: 60%;
			margin-left: 20%;
			border-radius: 100px;
			text-align: center;
			position: absolute;
			margin-top: -2rem;
			display: block;
			& li {
				display: inline-block;
				padding: 1rem;
				color: white;
			}
		}
		& .blue-content {
			padding: 5rem 21rem 16rem 21rem;
			& p {

				padding: 1.5rem 0;
			}
			& .level4 {
				padding: 0;
				padding-bottom: 3rem;
			}

			& .page2 {
				position: absolute;
				width: 40%;
				right: 15rem;
				margin-top: 2.6rem;
			}
		}
		
	}
}
#othersMaya {
	& div {
		width: 50%;
	}
}

//Solar 

.solar-system{
      background-color: #00152c ;
      color: white;
      padding: 3rem;
}
.hero{
    height: 114vh;
    position: absolute;
   z-index: 1;
   left: 0;
   right: 0;    
   background-image: url("../img/solar/sol-bg.png"); 
    
    .main-title{
        font-size: 7rem;
        text-align: center;
    }
    .subheader{
        font-size: 2rem;
       text-align: center;
       margin-bottom: -5rem;
    }

    #sun{
     position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: -1;

    }    
}
.planets-container{
    margin-top: 115vh;
    
    article{
        h2{
            margin-left: 20rem;
            font-size: 3rem;
            display: table-cell;
            vertical-align: middle;
            padding-right: 2rem;
        }
        p.description{
            color: #f0f7ff ;
            font-weight: 100;
            width: 30rem;
            font-size: 1.6rem;
            display: table-cell;
        }
    }
}