#heroMaya {
	background: #f5a623;
	height: 24.5rem;
	& img {
		position: absolute;
		width: 100%;
	}
	& .sun {

		z-index: 0;
	}
	& .orangeBackground {

		z-index: 1;
	}
	& .title {

		z-index: 2;
	}
	& .palm {

		z-index: 3;
	}
	& .pyramid {
		z-index: 4;
	}
	& .pinkBackground {
		z-index: 5;
	}

}