<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.min.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
    {% block content %}{% endblock %}
</body>
    {% block css %}{% endblock %}
    {% block js %}
    {% endblock %}
</html>