{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div id="heroMaya">
        <img class="orangeBackground" src="{% static 'img/maya/orangeBackground-maya.png' %}" alt="">
        <img class="pinkBackground" src="{% static 'img/maya/pinkBackground-maya.png' %}" alt="">
        <img class="palm" src="{% static 'img/maya/palm-maya.png' %}" alt="">
        <img class="pyramid" src="{% static 'img/maya/pyramid-maya.png' %}" alt="">
        <img class="sun" src="{% static 'img/maya/sun-maya.png' %}" alt="">
        <img class="title" src="{% static 'img/maya/title-maya.png' %}" alt="">
    </div>
    <div>
        Termina
    </div>
{% endblock %}   
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}