{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div id="heroMaya">
        <img class="orangeBackground" src="{% static 'img/maya/orangeBackground-maya.png' %}" alt="">
        <img class="pinkBackground" src="{% static 'img/maya/pinkBackground-maya.png' %}" alt="">
        <img class="palm" src="{% static 'img/maya/palm-maya.png' %}" alt="">
        <img class="pyramid" src="{% static 'img/maya/pyramid-maya.png' %}" alt="">
        <img class="sun" src="{% static 'img/maya/sun-maya.png' %}" alt="">
        <img class="title" src="{% static 'img/maya/title-maya.png' %}" alt="">
    </div>
    <div id="levelsMaya">
        <img class="camino-linea" src="{% static 'img/maya/lineas-mayas.png' %}" alt="">
        <div class="pinkLevel">
            <div class="level1">
                <span class="level">Nivel 1</span>
                <span class="theme">Civilización</span>
            </div>
            <p>
                La civilización maya fue una civilización mesoamericana desarrollada por los pueblos mayas, que destacó en América por su escritura glífica, el único sistema de escritura plenamente desarrollado del continente americano precolombino, así como por su arte, arquitectura y sistemas de matemática y de astronomía. 
            </p>
            <p>
                Se desarrolló en la región que abarca el sureste de México y que corresponde a los estados de Yucatán, Campeche, Tabasco, Quintana Roo y la zona oriental de Chiapas, así mismo la mayor parte deGuatemala, Belice, y la parte occidental de Honduras y El Salvador. Esta región se compone de las tierras bajas del norte que abarca lapenínsula de Yucatán, las tierras altas de la Sierra Madre que se extiende por el estado mexicano de Chiapas, el sur de Guatemala hasta El Salvador, y las tierras bajas del sur en la llanura litoral del Pacífico.
            </p>
            <div class="level2">
                <span class="level">Nivel 2</span>
                <span class="theme">Geografía</span>
            </div>
            <p>
                La civilización maya ocupó un extenso territorio que incluía el sureste de México y el norte de América Central; abarcó toda la península de Yucatán, la totalidad de Guatemala y Belice, así como la porción occidental de Honduras y El Salvador. La mayor parte de la península se compone de una vasta planicie con pocas colinas o montañas y una zona costera generalmente baja.
            </p>
            <img class="map-maya" src="{% static 'img/maya/map-maya.png' %}" alt="">
            <p>
                La región del Petén se compone de una llanura baja de piedra caliza, cubierta de bosque  una serie de catorce lagos atraviesa la cuenca de drenaje central del Petén. En el sur, la llanura sube gradualmente hacia el altiplano de Guatemala. Una selva densa cubre el norte de Petén y Belice, la mayor parte de Quintana Roo, el sur de Campeche y una parte del sur del estado de Yucatán. Más hacia el norte, la vegetación se convierte en bosque bajo compuesto de matorrales densos.
            </p>
            <p>
                La zona del litoral de Soconusco se encuentra al sur de la Sierra Madre de Chiapas, y se compone de una estrecha llanura costera y las estribaciones de la Sierra Madre. El altiplano maya se extiende desde el este de Chiapas hasta en Guatemala, y alcanza su máxima altitud en la Sierra de los Cuchumatanes. Los principales centros de población precolombino del altiplano se encuentran en los valles mayores, como el valle de Guatemala y Quetzaltenango en el altiplano del sur, dominado por un cinturón de conos volcánicos que corre paralela a la costa del Pacífico. El altiplano se extiende hacia el norte en Verapaz, y desciende gradualmente hacia el este.
            </p>
            
        </div>
        <div class="blueLevel">
            <div class="temple-maya">
                <span class="level">Nivel 3</span>
                <h2>Historia Maya</h2>
            </div>
            <ul>
                <li>Arcaico</li>
                <li>Pre Clásico</li>
                <li>Clásico</li>
                <li>Post Clásico</li>
                <li>Periodo de Contacto</li>
            </ul>
            <div class="blue-content">
                <p>
                    La historia de la civilización maya se divide en tres períodos principales: el Preclásico, Clásico y Posclásico; éstos fueron precedidos por el Período Arcaico, en el que se establecieron los primeros asentamientos humanos y se dio inicio al desarrollo de la agricultura. Los estudiosos modernos consideran estos períodos como divisiones arbitrarias de la cronología maya, en lugar de ser indicativo de la evolución cultural de los mayas o de su decadencia. Dependiendo del autor, las definiciones de las fechas de inicio y fin de los periodos pueden variar hasta un siglo.
                </p>
                <div class="level4">
                    <span class="level">Nivel 4</span>
                    <span class="theme">Arquitectura</span>
                </div>
                <div>
                    <img class="zona1" src="{% static 'img/maya/zona1-maya.png' %}" alt="">
                    <p>
                        Los mayas produjeron una gran variedad de estructuras arquitectónicas y dejaron un extenso legado arquitectónico, que sitúan a la civilización maya entre las grandes civilizaciones preindustriales del mundo. La arquitectura maya también incorpora textos glíficos y varias formas de arte. La arquitectura de mampostería de los mayas es evidencia de la existencia de especialización artesanal en la sociedad maya, así como una organización centralizada y los medios políticos para movilizar una gran fuerza de trabajo. Se estima que para la construcción de una gran residencia de élite en Copán se necesitaba unos 10.686 días-hombre; en comparación, para la vivienda de un comunero se necesitaba aproximadamente 67 días-hombre
                    </p>
                </div>
                <div>
                    <img class="zona2" src="{% static 'img/maya/zona2-maya.png' %}" alt="">
                    <p>
                        Se estima además que el 65 % de la mano de obra requerida para construir una residencia noble fue utilizado para la extracción, el transporte, y el acabado de la piedra, y que se utilizó el 24 % de la mano de obra para la fabricación y aplicación del revestimiento de yeso. En total, se estima que se necesitaba dos o tres meses para la construcción de la residencia de un noble en Copán, utilizando entre 80 y 130 trabajadores a tiempo completo. Una ciudad del periodo Clásico como Tikal tenía una extensión de 20 km² y un núcleo urbano que cubrió 6 km².
                    </p>
                </div>
                <img class="page2" src="{% static 'img/maya/page2-maya.png' %}" alt="">
            </div>
        </div>
    </div>
    <div id="othersMaya">
        <div class="solar-maya">
            <h2>El Sistema Solar</h2>
        </div>
        <div class="sea-maya">
            <h2>Mar profundo</h2>
        </div>
    </div>
{% endblock %}   
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}