{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
   <div id="example"></div> 
{% endblock %}   
{% block css %}
{% endblock %}
{% block js %}
    <script src="{% static "js/reactJS/react.min.js" %}"></script> 
    <script src="{% static "js/reactJS/react-dom.min.js"%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel">
      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('example')
      );
    </script>
{% endblock %}